/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

body {
  background: #F7F7F7;
}

/* NEW-BET */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background: #F7F7F7;
  height: 79.5px;
  width: 100%;
  border-bottom: 2px solid #EBEBEB;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .info-header {
  display: flex;
  align-items: center;
}

header .info-header h1 {
  margin-left: 141px;
  font-size: 44px;
  font-style: italic;
  color: #707070;
}

header .info-header h1:after {
  content: '';
  width: 107px;
  height: 7px;
  background: #B5C401;
  border-radius: 6px;

  position: absolute;
  top: 74.5px;
  left: 130px;
}

header .info-header a {
  margin-left: 74px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #707070;
}

header .session {
  margin-right: 199px;
  display: flex;
  align-items: center;
}

header .session button,
header .session span {
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

header .session button {
  margin-left: 57px; 
  display: flex;
  align-items: center;
}

header .session button span {
  margin-left: 10px; 
}

.content {
  display: flex;
  justify-content: space-between;

  max-height: calc(100vh - 159px);
  margin-top: 79.5px;
  padding: 70.5px 199px 85px 130px;
  overflow-y: auto;
}

.new-bet {
  width: 705px;
  max-height: 100%;
}

.new-bet h2 {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: #707070;
  margin-bottom: 33px;
}

.new-bet p {
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #868686;
}

[data-js="games-type"] {
  margin-top: 20px;
  margin-bottom: 28px;
}

[data-js="games-type"] button + button {
  margin-left: 25px;
}

[data-js="games-type"] button {
  width: 113px;
  height: 34px;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.new-bet p + span {
  font-size: 17px;
  font-style: italic;
  color: #868686;
}

[data-js="bet-items"] {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
}

.bet-item {
  width: 65px;
  height: 65px;
  margin-bottom: 20px;
  background: #ADC0C4;
  border-radius: 50%;

  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}

.bet-item + .bet-item {
  margin-left: 12px;
}

.bet-item:nth-child(3n) {
  margin-right: 8px;
}

.bet-item:nth-child(9n + 1) {
  margin-left: 0;
}

.bet-buttons {
  display: flex;
  justify-content: space-between;

  margin-top: 15px;
}

.buttons-game button {
  border-radius: 10px;
  border: 1px solid #27C383;
  height: 52px;
  padding: 0 23px;
  
  font-size: 16px;
  color: #27C383;
}

.buttons-game button:hover {
  background: #27C383;
  color: #FFF;
}

.buttons-game button + button{
  margin-left: 25px;
}

.button-add button {
  width: 209px;
  height: 52px;
  background: #27C383;
  border-radius: 10px;

  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.button-add button span {
  color: #FFF;
  margin-right: 29px;
}

.button-add button:hover {
  background: #F7F7F7;
  border: 1px solid #27C383;

  color: #27C383;
}

.button-add button:hover span {
  color: #27C383;
}

.cart {
  width: 317px;
  height: fit-content;
  background: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;
  border: 1px solid #E2E2E2;
}

.cart h2 {
  margin: 32px 0 32px 19px;

  font-size: 24px;
  font-style: italic;
  color: #707070;
}

[data-js="cart-items"] {
  margin-left: 19px;
}

.bet {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.bet-info {
  position: relative;
  height: 86px;
  margin-left: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mark-lotofacil:before {
  content: '';
  width: 4px;
  height: 86px;
  background: #7F3992;
  border-radius: 100px 0 0 100px;

  position: absolute;
  top: 0;
  left: -15px;
}

.mark-megasena:before {
  content: '';
  width: 4px;
  height: 86px;
  background: #01AC66;
  border-radius: 100px 0 0 100px;

  position: absolute;
  top: 0;
  left: -15px;
}

.mark-quina:before {
  content: '';
  width: 4px;
  height: 86px;
  background: #F79C31;
  border-radius: 100px 0 0 100px;

  position: absolute;
  top: 0;
  left: -15px;
}

.bet-numbers {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: #868686;
}

.bet-name {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.bet-name span {
  font-weight: normal;
  color: #868686;
  margin-left: 10px;
  /* font-style: italic; */
}

.mark-lotofacil .bet-name {
  color: #7F3992;
}

.mark-megasena .bet-name {
  color: #01AC66;
}

.mark-quina .bet-name {
  color: #F79C31;
}


.cart h3 {
  margin: 8px 0 47px 19px; 

  font-size: 24px;
  font-weight: lighter;
  color: #707070;
}

.cart h3 strong {
  font-style: italic;
}

.button-save {
  height: 96px;
  width: 100%;

  background: #F4F4F4;
  border-top: 1px solid #E2E2E2;
  border-radius: 0 0 10px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-save button {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  color: #27C383;

  display: flex;
  align-items: center;
}

.button-save button span {
  margin-left: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  background: #F7F7F7;
  height: 79.5px;
  width: 100%;
  border-top: 2px solid #EBEBEB;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 15px;
  color: #707070;
}

@media (max-width: 1360px) {
  .content {
    padding: 70.5px 40px 85px 40px;
    justify-content: center;
  }

  .new-bet {
    margin-right: 20px;
  }
}

@media (min-width: 1360px) {
  .cart {
    width: calc(100% - 735px);
    max-width: 400px;
  }
}

@media (min-width: 1630px) {
  .content {
    justify-content: center;
  }

  .new-bet {
    margin-right: 40px;
  }
}